<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Başarı ince bir dengedir! - Libra Academy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">

    <link href="../../assets/css/about.css" rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Header section start -->
    <header>
        <div class="logo">
            <img src="../../assets/img/logo-libra-academy-2.png">
        </div>
        <div class="menu" id="menu">
            <ul>
                <li><a href="./about.html">HAKKIMIZDA</a></li>
                <li><a href="./lesson.html">DERSLER</a></li>
                <li><a href="./good.html">BASARILAR</a></li>
                <li><a href="./service.html">HİZMETLER</a></li>
                <li><a href="./communication.html">İLETİŞİM</a></li>
            </ul>
            <div class="close" onclick="myFunction()">
                <i class="fa fa-close"></i>
            </div>
        </div>
        <div class="search">
            <div><i class="fa fa-search"></i></div>
        </div>
        <div class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </div>
        
    </header>
    <!-- Header section end -->

    <!-- Main section start -->
    <div class="main">
        <div class="text_area">
            <div class="card">
                <div>
                    <label>DENEYİMLİ – YETKİN – EVRENSEL – HÜMANİST</label>
                </div>
                <h2>LİBRA AKADEMİ</h2>
                <div class="decor">

                    <p><span>Y</span>arına doğru koşar ve kendimize sorarız “Başarı nedir?” veya “Nasıl başarılı
                        olunur?” Başarının ne olduğu sorusu da mutluluğun ne olduğunu sormak gibi cevaplaması zor ve
                        bulmanın emek gerektirdiği bir iştir. Cevaplar oldukça görelidir çünkü zamana mekâna ve kişiye
                        bağlı değişkenleri vardır. İnsanın farkındalığı kadar eski olan bu soruların cevabı kişinin
                        ancak kendisindedir. Kendini tanımak ve doğru bir yola koyulmak ise bazen insanın kendisini de
                        aşan bir şeydir.</p>
                </div>
                <p>İşte o zaman doğru kişiye “danışabilmek” insanın en önemli ihtiyacı olur. Doğru danışman, doğru
                    bilgiyle birlikte uzadıkça uzayacak zahmetli bir yolu daha rahat, keyifli ve kısa hale getirebilir.
                </p>
                <p>Her birimiz dünya için daima birer öğrenciyiz. Zorlu veya kolay yollarda, iyi veya kötü tercihlerle
                    hepimiz birer yolculuğa çıkarız.</p>
                <p>Kendinizi tanımanız, doğru yerlere ve kişilere ulaşmanız ve kendinize başarının tanımını yapabilmeniz
                    ve en önemlisi mutlu olmanız için Libra Akademi olarak bilimin ışığında ve eğitimci olmanın
                    bilincinde deneyimlerimizi sizlere aktarmaktan mutluluk duymaktayız.</p>
            </div>
        </div>
        <div class="review">
            <div class="space"></div>
            <div class="re_main">
                <h2>KURUCULARIMIZ</h2>
                <div class="person_list">
                    <div class="person">
                        <div>
                            <img src="../../assets/img/Ahsen.jpg">
                        </div>
                        <h5>Ahsen Tunçer</h5>
                        <p>Kurucu</p>
                    </div>
                    <div class="person">
                        <div>
                            <img src="../../assets/img/SengulU.jpg">
                        </div>
                        <h5>Doç. Dr. Şengül Uysal</h5>
                        <p>Kurucu</p>
                    </div>
                    <div class="person">
                        <div>
                            <img src="../../assets/img/uzman_200-e1666382826267.png">
                        </div>
                        <h5>Y. Müh. Martı Büyüközden Yüce</h5>
                        <p>Kurucu</p>
                    </div>
                </div>
            </div>
            <div class="space"></div>
        </div>
        <div class="Gelecegi">
            <div class="container">
                <div class="li_right">
                    <h6>NE SUNUYORUZ?</h6>
                    <h3>Geleceği organize ediyoruz</h3>
                    <p>İnsana dair ve ona ait olanı öğrenmeye çabamızla, üniversitelerin de tüm mekanlar gibi onu
                        yaşatan insanlarla anlamlı olduğunu biliyoruz. İnsanı tanımakla başladığımız süreçte gideceğiniz
                        okullarda bilime, sanata, mekâna ve sonunda yine insanlığa değer katacak olan yine sizler
                        olacaksınız.</p>
                    <input type="button" value="Başarılarımız">
                </div>
                <div class="ge_right">
                    <div class="left">
                        <div class="card">
                            <img src="../../assets/img/homepage-images/reading-book.png">
                            <div>Online Dersler</div>
                        </div>
                        <div class="card">
                            <img src="../../assets/img/homepage-images/seo.png">
                            <div>Online Dersler</div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="card">
                            <img src="../../assets/img/homepage-images/magistrate.png">
                            <div>Online Dersler</div>
                        </div>
                        <div class="card">
                            <img src="../../assets/img/homepage-images/layers.png">
                            <div>Online Dersler</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bar"></div>
    </div>
    <!-- Main section end -->

    <!-- Footer section start -->
    <footer>
        <div class="container">
            <div class="left">
                <div class="l_top">
                    <div>
                        <img src="../../assets/img/homepage-images/logo-libra-academy-6.png" class="footer_logo">
                        <h3>Adresler:</h3>
                        <h5>Altunizade Mah. Kısıklı Caddesi No: 28/28 Üsküdar/İstanbul</h5>
                        <h5>Meydan Sok. No: 1 Kat: 26 Beybigiz Plaza 34396 Maslak İstanbul</h5>
                    </div>
                    <div>
                        <img src="../../assets/img/homepage-images/footermap.png">
                    </div>
                </div>
                <div class="l_bottom">
                    <span>PUGA AJANS</span>
                    © . All rights reserved.
                </div>
            </div>
            <div class="right">
                <div>
                    <span>Faydalı Linkler</span>
                    <ul>
                        <li>Hakkımızda</li>
                        <li>Derslerimiz</li>
                        <li>Hizmetler</li>
                        <li>İletişim</li>
                    </ul>
                </div>
                <div class="icons">
                    <div>f</div>
                    <div>2</div>
                    <div>3</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <script src="./assets/js/main.js"></script>
</body>

</html>