<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Başarı ince bir dengedir! - Libra Academy</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">

	<link href="../../assets/css/good.css" rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- Header section start -->
	<header>
		<div class="header">
			<div class="logo">
				<img src="../../assets/img/logo-libra-academy-6.png">
			</div>
			<div class="menu" id="menu">
				<ul>
					<li><a href="./about.html">HAKKIMIZDA</a></li>
					<li><a href="./lesson.html">DERSLER</a></li>
					<li><a href="./good.html">BASARILAR</a></li>
					<li><a href="./service.html">HİZMETLER</a></li>
					<li><a href="./communication.html">İLETİŞİM</a></li>
				</ul>
				<div class="close" onclick="myFunction()">
					<i class="fa fa-close"></i>
				</div>
			</div>
			<div class="search">
				<div><i class="fa fa-search"></i></div>
			</div>
			<div class="icon" onclick="myFunction()">
				<i class="fa fa-bars"></i>
			</div>
			
		</div>
	</header>
	<!-- Header section end -->

	<!-- Main section start -->
	<div class="main">
		<div class="good_space"></div>
		<div class="font">PREPARING THE PAGE...</div>
	</div>
	<!-- Main section end -->

	<!-- Footer section start -->
	<footer>
		<div class="container">
			<div class="f_main">
				<div class="f_top">
					<div>
						<h2>#Gelişmelerden haberin olsun!</h2>
						<div class="contact">
							<input type="text" placeholder="Mail adresiniz.">
							<span><i class="fa fa-telegram"></i></span>
						</div>
						<div class="contact">
							<div>
								<input type="checkbox">
								<span>Kabul ediyorum. Privacy Policy.</span>
							</div>
						</div>
					</div>

				</div>
				<div class="f_bottom">
					<img src="../../assets/img/homepage-images/logo-libra-academy-6.png">
					<div>
						<div>f</div>
						<div>f</div>
						<div>f</div>
					</div>
					<ul>
						<li>HAKKIMIZDA</li>
						<li>DERSLER</li>
						<li>BASARILAR</li>
						<li>HİZMETLER</li>
						<li>İLETİŞİM </li>
					</ul>
				</div>
			</div>
			<div class="footer_final">
				PUGA AJANS © . All rights reserved.
			</div>
		</div>
	</footer>

	<!-- Footer section end -->
	<script src="./assets/js/main.js"></script>
</body>

</html>