<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Başarı ince bir dengedir! - Libra Academy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.cdnfonts.com/css/metropolis-2" rel="stylesheet">

    <link href="../../assets/css/lesson.css" rel='stylesheet' type='text/css'>
</head>

<body>
    <!-- Header section start -->
    <header>
        <div class="header">
            <div class="logo">
                <img src="../../assets/img/logo-libra-academy-6.png">
            </div>
            <div class="menu" id="menu">
                <ul>
                    <li><a href="./about.html">HAKKIMIZDA</a></li>
                    <li><a href="./lesson.html">DERSLER</a></li>
                    <li><a href="./good.html">BASARILAR</a></li>
                    <li><a href="./service.html">HİZMETLER</a></li>
                    <li><a href="./communication.html">İLETİŞİM</a></li>
                </ul>
                <div class="close" onclick="myFunction()">
                    <i class="fa fa-close"></i>
                </div>
            </div>
            <div class="search">
                <div><i class="fa fa-search"></i></div>
            </div>
            <div class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </div>
            
        </div>
    </header>
    <!-- Header section end -->

    <!-- Main section start -->
    <div class="main">
        <div class="container">
            <div class="mark_academic">
                <div>
                    <img src="../../assets/img/homepage-images/logo-libra-academy-259x300.jpeg">
                    <div>ACADEMIC COURSES</div>
                </div>
                <div class="mark_card">
                    <div class="mark_card_part">
                        <div>IB</div>
                        <div class="red">AP</div>
                        <div>SAT</div>
                    </div>
                    <div class="mark_card_part">
                        <div class="red">A LEVEL</div>
                        <div>IMAT</div>
                        <div class="red">LNAT</div>
                    </div>
                    <div class="mark_card_part">
                        <div>ACT</div>
                        <div class="red">BMAT</div>
                        <div>UKCAT</div>
                    </div>
                    <div class="mark_card_part">
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="lesson_text">
                <h2>IB (International Baccalaureate) Programı</h2>
                <p>Uluslararası Bakalorya Organizasyonu, İsviçre’nin Cenevre şehrinde 1968 yılında ticari olmayan bir
                    organizasyon olarak ortaya çıktı. Kurulduğu günden itibaren Dünya çapında tanınmış bir eğitim
                    programıdır. Uluslararası Bakalorya programının amacını üniversite veya lise eğitimine kendi ülkesi
                    haricinde başka bir ülkede devam eden öğrencilerin uluslararası ortak bir müfredat programı
                    dahilinde
                    eğitimlerine devam edebilmeleridir.</p>

                <p> IB Programı genç yaş kategorisi (16-19 yaş) için dizayn edilmiş, zengin içerikli bir programdır. Bu
                    program üniversite öncesi 2 yıllık bir eğitim maratonudur. Programa dahil olan öğrenciler bitirme
                    sınavlarında başarılı oldukları takdirde IB diploması almaya hak kazanırlar. IB programını Pre-IB
                    olarak
                    da bilinen hazırlık yılını da dahil ederek 3 yıllık bir program olarak düşünmek gerekmektedir.
                </p>
                <p> IB programı geniş kapsamlı bir eğitim programı olduğu için sınavlar dışında bitirme tezi, bilgi
                    kuramı
                    ve yaratıcılık, etkinlik ve hizmet gibi alanlarda da program dahilinde öğrecilerden mezuniyet öncesi
                    belli başlı koşulların yerine getirilmesini talep eder.</p>
                <p>
                    Uluslararası Bakalorya sisteminden 32 ila 42+3 puan arasında puanla mezuniyet alan öğrenciler
                    Bakalorya
                    programı mezuniyetini tanıyan üniversitelerde eğitim almaya hak kazanabilirler. Bununla birlikte
                    bazı
                    üniversiteler mezuniyet puanı dışında öğrencilerden high level, standart level alanlarında bazı
                    barajların aşılmasını bekleyebilmektedirler.</p>
            </div>
            <div class="lesson_text">
                <h2>AP (Advanced Placement) Programı</h2>
                <p>Advanced Placement dünya çapında geçerliliği olan bir programdır ve SAT’yi düzenleyen Collage Board
                    tarafından düzenlenmektedir. Program Amerika Birleşik Devletleri merkezlidir. AP programı bütün
                    olarak 2
                    yıl süren bir müfredattır. AP programını tamamen bitirebilir veya ilgilendiğiniz derslerin
                    sınavlarını
                    verebilirisiniz. Örnek vermek gerekirse sanat alanında bir üniversite bölümü okumak istiyorsanız AP
                    programına dahil olan sanatla ilgili dersleri başarıyla vermeniz sizin üniversiteye kabul sürecinde
                    kararlılığınızı, bilgi, birikim ve donanım seviyenizi ispat edecektir.</p>
            </div>
            <div class="lesson_text">
                <h2>SAT</h2>
                <p>SAT, Amerika Birleşik Devletleri’nde ve bazı Avrupa ülkelerinde üniversite eğitimi almak isteyen
                    adayların girmesi gereken bir sınavdır. AP programını düzenleyen College Board SAT sınavlarını da
                    düzenlemektedir.
                </p>
                <p>
                    SAT sınavı ABD dışındaki ülkelerde bir yıl içerisinde 6 kere yapılmaktadır. Sınava birden çok kere
                    girmek mümkündür.
                </p>
                <p>
                    Sat sınavı temel olarak iki kısımdan oluşmaktadır:</p>
                <ul>
                    <li>Okuma-Yazma Ölçme</li>
                    <li>Matematik bilgisi ölçme</li>
                </ul>
            </div>
            <div class="lesson_text">
                <h2>A Level</h2>
                <p>A Level programı ağırlıklı olarak Büyük Britanya bazlı eğitim sistemine dahil olan okullara
                    yerleşmeyi
                    planlayan öğrencileri ilgilendiren bir programdır. İngiltere, Avustralya ve Yeni Zelanda gibi
                    ülkelerin
                    yükseköğretim kurumları A Level programını tanımaktadır.
                </p>
                <p>
                    Çok ayrıntılarına girmeden bilgi vermemiz gerekirse A Level programı da IB programı gibi 16 ila 19
                    yaşındaki öğrencilere sunulan bir eğitim programıdır ve 2 yıl sürmektedir.
                </p>
                <p>
                    A Level programının en önemli avantajı Foundation Year denilen zorunluluğu ortadan kaldırmasıdır.
                    Zira
                    İngiltere’deki yüksek eğitim kurumları Türkiye denkliklerini tam olarak tanımayıp öğrencileri geçiş
                    süreci eğitimi olarak özetleyebileceğimiz Foundation Year’a tabi tutmaktadır. Eğer A Level sürecini
                    tamamlamadan İngiltere’de eğitim almak isterseniz ve Foundation Year eğitimini alırsanız Cambridge,
                    Oxford gibi çok köklü ve meşhur okullarda öğrenim göremezsiniz. Çünkü bu tarz okullar A-Level veya
                    IB
                    denklikleri istemektedir.</p>
            </div>
            <div class="lesson_text">
                <h2>IMAT</h2>
                <p>IMAT’nin açılımı International Medical Admission Test şeklindedir. Bu sınava İtalya’da ingilizce tıp
                    eğitimi almak isteyen adayların girmeleri gerekmektedir.
                </p>
                <p>
                    IMAT sınavına girmek için lise mezunu olmak, Türkiye’de yapılan iki basamaklı ÖSYM sınavlarının
                    ikisinde
                    barajı geçmiş olmak ve ön kayıt işlemlerini tamamlamak yeterlidir. Bunların dışında herhangi bir
                    şey;
                    IELTS yeterliliği gibi şartlar talep edilmemektedir.
                </p>
                <p>
                    IMAT, her yıl eylül ayının ikinci haftasında yılda bir kere olmak üzere gerçekleştirilir.</p>
            </div>
            <div class="lesson_text">
                <h2>LNAT</h2>
                <p>LNAT sınavı Amerika Birleşik Devletleri ve İngiltere’de hukuk, kamu yönetimi, ekonomi gibi bölümlerde
                    eğitim almak isteyen kişilerin girmesi gereken bir sınavdır. LNAT’nin açılımı da zaten The Law
                    National
                    Aptitude Test’dir.
                </p>
                <p>
                    LNAT sınavı A ve B kısmı olmak üzere iki kısımdan oluşmaktadır. A kısmında 12 metin yer alır, her
                    metin
                    için 3 veya 4 soru mevcuttur. Toplamda 42 çoktan seçmeli soru için tanınan vakit 95 dakikadır.
                </p>
                <p>
                    LNAT sınavının B bölümünde ise sınava giren öğrenciler için hazırlanmış 3 essay yani makale sorusu
                    bulunmaktadır.</p>
            </div>
            <div class="lesson_text">
                <h2>ACT</h2>
                <p>ACT (American Collage Testing) sınavı da SAT (Scholastic Assessment Testing) gibi Amerika Birleşik
                    Devletleri’nde üniversiteye yerleşmek için girebileceğiniz bir sınavdır. ACT ve SAT sınavları ABD
                    dışında Kanada’da da pek çok okul tarafından tanınmaktadır. Öğrencilerin ACT ve SAT arasında seçim
                    yapmadan önce dikkat etmeleri gereken husus girmek istedikleri okulun kabul şartlarıdır. Bazı
                    okullar
                    sadece SAT sınavını kabul ederken bazıları hem ACT hem de SAT sınavını kabul edebilmektedir.
                </p>
                <p>
                    ACT ve SAT arasında zorluk kıyası yapılması doğru değildir. ACT sınavı SAT sınavından daha kolay
                    veya
                    zor denemez. Sınav tercihini belirleyecek olan öğrencinin yetenekleri olacaktır. Bazı öğrenciler
                    ACT’ı
                    kendilerine daha uygun bulmaktadır. ACT’da 4 temel bölüm yer almaktadır:</p>
                <ul>
                    <li>İngilizce</li>
                    <li>Okuma</li>
                    <li>Matematik</li>
                    <li>Bilim (Fen)</li>
                </ul>
                <p>ACT sınavında çıkan sorular çoktan seçmelidir ve toplamda 215 soru yer alır. Soru dağılımı ise şu
                    şekildedir:</p>
                <ul>
                    <li>İngilizce</li>
                    <li>Okuma</li>
                    <li>Matematik</li>
                    <li>Bilim (Fen)</li>
                </ul>
            </div>
            <div class="lesson_text">
                <h2>BMAT</h2>
                <p>Biomedical Admissions Test (BMAT), İngiltere’de tıp, diş hekimliği, veterinerlik, biyomedikal ve
                    benzeri
                    bölümlere başvuru yapmayı düşünen öğrenciler için uygulanan bir giriş sınavıdır.
                </p>
                <p>
                    BMAT Cambridge tarafından geliştirilmiştir. İngiltere, İspanya, Macaristan, Hırvatistan, Singapur ve
                    Hollanda gibi bazı ülkelerde yer alan üniversiteler başvuru şartlarında BMAT sınavını tanımaktadır.
                </p>
                <p>
                    BMAT sınavı 3 bölümden oluşur ve 2 saatte tamamlanır. Bir saatlik kısmı genel yetenek ve beceri
                    olarak
                    özetleyebileceğimiz çoktan seçmeli sorulardan oluşur. Buna ek olarak bilimsel bilgileri ve
                    uygulamaları
                    test eden 30 dakikalık bir bölüm ile yine 30 dakikalık yazma yeteğini ölçen bir bölüm daha vardır.
                </p>
            </div>
            <div class="lesson_text">
                <h2>UKCAT</h2>
                <p>UKCAT, açılımı Birleşik Krallık Klinik Yetenek Testi olan ve Britanya genelinde bir çok üniversitede
                    Tıp
                    bölümü başvurularında kabul edilen yeterlilik sınavıdır. Her yıl Temmuz ve Ekim aylarında Pearson
                    Vue
                    merkezlerinde bilgisayar başında yapılmaktadır.
                </p>
                <p>
                    UKCAT sınavı test içeriği şu şekildedir:</p>
                <div class="table">
                    <div>
                        <div>
                            Sözlü muhakeme</div>
                        <div>44 soru</div>
                        <div>22 dakika</div>
                    </div>
                    <div>
                        <div>
                            Sözlü muhakeme</div>
                        <div>44 soru</div>
                        <div>22 dakika</div>
                    </div>
                    <div>
                        <div>
                            Sözlü muhakeme</div>
                        <div>44 soru</div>
                        <div>22 dakika</div>
                    </div>
                    <div>
                        <div>
                            Sözlü muhakeme</div>
                        <div>44 soru</div>
                        <div>22 dakika</div>
                    </div>
                    <div>
                        <div>
                            Sözlü muhakeme</div>
                        <div>44 soru</div>
                        <div>22 dakika</div>
                    </div>
                </div>
            </div>
            <div class="lesson_text">
                <h2>GRE</h2>
                <p>GRE (The Graduate Record Examination), ETS (Educational Testing Service) tarafından düzenlenmektedir.
                    GRE
                    sınavına ingilizce eğitim veren üniversitelerde mühendislik ve sosyal bilimler gibi alanlarda yüksek
                    lisans ve doktora yapmak isteyen öğrenciler tarafından tercih edilen dünyanın en yaygın
                    sınavlarından
                    biridir diyebiliriz. Son dönemlerde GMAT’ı başvuru koşulu olarak isteyen programlar dahi GRE
                    sınavını
                    tanımaya başlamıştır.
                </p>
                <p>
                    GRE Genel Testinde eleştirel düşünme ve analitik yazma becerisi, sözlü muhakeme ve sayısal muhakeme
                    test
                    edilir. GRE sınavı bilgisayar tabanlı olarak gerçekleşmektedir. Eğer bulunduğunuz ülkede bilgisayar
                    alt
                    yapısısı yeterli değilse sınav kağıt-kalemle de yapılabilmektedir.</p>
            </div>
            <div class="lesson_text">
                <h2>GMAT</h2>
                <p>GMAT (Graduate Management Admission Test) Sınavı GMAC yani Graduate Management Admission Council
                    tarafından yönetilen ve Pearson Vue’in gerçekleştirdiği bir sınavdır.
                </p>
                <p>
                    GMAT sınavı lisansüstü eğitim almak isteyen öğrencilerin İngilizce ve matematik yeteneklerini ölçen
                    bir
                    sınavdır. GMAT sınavları bilgisayar tabanlı olarak gerçekleştirilir ve sınav sonuçları 5 yıl
                    geçerliliğini korur.
                </p>
                <p>
                    Dünya çapında çok meşhur işletme MBA bölümleri GMAT talep etmektedir. Bölümlerin belirlediği GMAT
                    taban
                    ve tavan puanları genelde olmamaktadır, bunun yerine okula kabul edilen öğrencilerin ortalama
                    puanları
                    baz alınmaktadır.</p>
            </div>
            <div class="mark_academic">
                <div>
                    <img src="../../assets/img/homepage-images/logo-libra-academy-259x300.jpeg">
                    <div>ACADEMIC COURSES</div>
                </div>
                <div class="mark_card">
                    <div class="mark_card_part">
                        <div>IB</div>
                        <div class="red">AP</div>
                        <div>SAT</div>
                    </div>
                    <div class="mark_card_part">
                        <div class="red">A LEVEL</div>
                        <div>IMAT</div>
                        <div class="red">LNAT</div>
                    </div>
                </div>
            </div>
            <div class="lesson_text">
                <h2>IELTS</h2>
                <p>IELTS, Dünya’nın en bilinen ve geçerliliği en yüksek sınavlarından biridir. Kendi ülkesinde veya
                    başka
                    bir ülkede İngilizce eğitim alacak öğrencilerin İngilizce yeterliliklerini kanıtlamak veya mecburi
                    İngilizce derslerinden muafiyet sağlamak amacıyla sıkça başvurdukları sınavlardan biridir. Eğitim
                    hayatına ek olarak iş hayatında da resmi yeterlilikler, ehliyetler ve sertifikalar için IELTS
                    puanına
                    ihtiyaç duyulabilmektedir.
                </p>
                <p>
                    IELTS (International English Language Testing System) sınavına bilgisayar tabanlı veya kağıt kalemle
                    girebilirsiniz. Bu sizin tercihinize kalmış. Sınavda dinleme, okuma, yazma ve konuşma olmak üzere
                    İngilizce yeterlilik alanında bütün yetenekleriniz test edilir.</p>
            </div>
            <div class="lesson_text">
                <h2>TOEFL</h2>
                <p>TOEFL (Test of English as a Foreign Language) 1964 yılından beri düzenlenen Uluslar arası İngilizce
                    Seviye ölçüm sınavıdır. TOEFL Amerika Birleşik Devletleri merkezli olarak çıkmış ancak standartları
                    tüm
                    dünya tarafından kabul görmüştür. Dünyanın pek çok yerinde İngilizce eğitim almak isteyen öğrenciler
                    olmak üzere yabancı ülkelerde çalışmak veya vatandaş olmak isteyen kişilerin sıkça başvurduğu bir
                    sınavdır. Dünya çapında geçerliliği mevcuttur.
                </p>
                <p>
                    TOEFL sınavı okuma, dinleme, yazma ve konuşma olmak üzere İngilizce’nin hakim olduğu bir alanda
                    bütün
                    ihtiyaçların sağlanıp sağlanamacağını tespit eden ve bu tespiti puanlandıran bir sınavdır.</p>
            </div>
            <div class="lesson_text">
                <h2>DELF</h2>
                <p>DELF (Diplôme d’Études en Langue Française) diploması Fransızca beceri seviyenizin ölçülmesi
                    sonucunda
                    elde edeceğiniz uluslararası geçerliliği olan bir diplomadır. DELF ölçüm standartları A1-A2-B1-B2
                    olmak
                    üzere dört seviyeyi kapsar. Ayrıca yaş gruplarına göre DELF türü değişmektedir:</p>
                <ul>
                    <li>Yetişkinler için DELF</li>
                    <li>8-12 yaş grubu için DELF Prime</li>
                    <li>13-17 yaş grubu için DELF Junior</li>
                    <li>Fransız Lisesi öğrencileri için DELF Scolaire</li>
                </ul>
                Fransa’da çalışmak, göçmenlik ve eğitim almak gibi konularda DELF belgesi istenmektedir.
            </div>
            <div class="lesson_text">
                <h2>DALF</h2>
                <p>DALF sınavı akademik ve ileri düzey Fransızca gerektiren işlerle meşgul kişiler tarafından ihtiyaç
                    duyulan bir belgedir. Zira DALF, DELF’in devamı olarak Fransızca C1 ve C2 seviyelerini ölçer.</p>
            </div>
            <div class="lesson_text">
                <h2>DSD </h2>
                <p>DSD, Almanya Federel Cumhuriyeti’nin resmi dil diplomasıdır ve alanında tektir. Bütün dünyada Almanca
                    dilbilgisi yeterliliği isteyen kurumlar tarafından kabul edilir. DSD kısaltmadır ve açılımı şu
                    şekildedir: Deutsches Sprachdiplom der Kultusministerkonferenz.
                </p>
                <p>
                    DSD iki kademelidir. Eğer DSD I sahibi iseniz Almanya’daki üniversitelerde üniversite bünyesinde
                    yükseköğrenime başlamadan hazırlık eğitimi alabilirsiniz. Bunun dışında DSD II yeterlilik belgeniz
                    varsa
                    Almanya’da bir üniversitede eğitime başlayabilirsiniz.
                </p>
                <p>
                    DSD de tıpkı diğer dil yeterlilikleri gibi iş, kariyer ve göçmenlik alanlarında da Almanca merkezli
                    girişimlerde bulunacak kişilere önemli avantajlar sağlamaktadır.</p>
            </div>
        </div>

    </div>
    <!-- Main section end -->

    <!-- Footer section start -->
    <footer>
        <div class="container">
            <div class="left">
                <div class="l_top">
                    <div>
                        <img src="../../assets/img/homepage-images/logo-libra-academy-6.png" class="footer_logo">
                        <h3>Adresler:</h3>
                        <h5>Altunizade Mah. Kısıklı Caddesi No: 28/28 Üsküdar/İstanbul</h5>
                        <h5>Meydan Sok. No: 1 Kat: 26 Beybigiz Plaza 34396 Maslak İstanbul</h5>
                    </div>
                    <div>
                        <img src="../../assets/img/homepage-images/footermap.png">
                    </div>
                </div>
                <div class="l_bottom">
                    <span>PUGA AJANS</span>
                    © . All rights reserved.
                </div>
            </div>
            <div class="right">
                <div>
                    <span>Faydalı Linkler</span>
                    <ul>
                        <li>Hakkımızda</li>
                        <li>Derslerimiz</li>
                        <li>Hizmetler</li>
                        <li>İletişim</li>
                    </ul>
                </div>
                <div class="icons">
                    <div>f</div>
                    <div>2</div>
                    <div>3</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
    <script src="./assets/js/main.js"></script>
</body>

</html>