* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Metropolis', sans-serif;
}

header {
    height: 40vh;
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.308)),url(../img/cropped-image-of-university-student-hand-holding-a-2022-01-30-01-26-39-utc-scaled.jpg);
    background-size: cover;
    background-position: center center;
}

.header {
    height: 136px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 55px;
}

header .menu ul {
    display: flex;
    align-items: center;
}

header i {
    font-size: 24px !important;
    font-weight: 200;
    color: white;
}

.logo {
    flex: 1 1 0;
}

.logo img {
    max-height: 57px;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

header .menu {
    flex: 1 1 0;
    font-weight: 600;
}

header .search {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: white;
}

header li {
    list-style-type: none;
    margin-left: 4vw;
}

.Gelecegi .li_right {
    padding-top: 70px;
}

.Gelecegi {
    height: 620px;
}

.Gelecegi .container {
    display: flex;
    max-width: 1200px;
    margin: auto auto;
}

.ge_right {
    display: flex;
    align-items: center;
}

.ge_right>div {
    margin: 0 15px;
}

.ge_right .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 73px 15px; */
    padding: 4.5em 4em 4.2em 4.5em;
    -webkit-transition: box-shadow 0.3s ease-out;
    -ms-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    will-change: box-shadow;
    border: none;
    margin-top: 16px;
}

.li_right input {
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    line-height: 21px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    text-transform: none;
    white-space: nowrap;
    letter-spacing: 0;
    height: auto;
    max-width: 100%;
    background: none !important;
    border-width: 2px !important;
    border-style: solid;
    padding: 15px 64px 16px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    margin-top: 30px;
}

.li_right {
    padding: 0% 3% 0% 3%;
    max-width: 50%;
}

.li_right h6 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;
}

.li_right h3 {
    font-size: 2.941em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.06em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 0.46em;
}

.li_right p {
    font-size: 19px;
    color: #ababab;
    letter-spacing: 1.1px;
    line-height: 32px;
}

.ge_right .card:hover {
    box-shadow: 0px 0 30px #e7e7e77e;
}

.ge_right .card img {
    margin-top: 1.3em;
    width: 75px;
    height: 75px;
}

.ge_right .left {
    margin-top: 10px;
}

.ge_right .right {
    margin-bottom: 70px;
}

.ge_right .card div {
    font-size: 1.294em;
    line-height: 1.2em;
    margin-top: 15px;
}

footer {
    width: 100%;
    height: 541px;
    background-image: url(../img/homepage-images/Home-2-Footer.png);
    background-size: auto;
    color: white;
    display: flex;
    align-items: center;
}

footer .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer_logo {
    max-height: 81px;
    height: 100%;
    width: auto;
    vertical-align: middle;
}

footer .left {
    flex: 1 1 0;
}

footer .right {
    flex: 1 1 0;
    display: flex;
    justify-content: space-around;
    padding-left: 120px;
}

footer .right .icons {
    display: flex;

}

.red {
    color: rgb(184, 9, 9);
    --webkit-stroke: #000;
}

/* .container {
    padding: 100px 0;
} */

footer .right .icons div {
    position: relative;
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 16px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.15);
}

footer .l_top {
    display: flex;
    align-items: center;
}

footer .l_top div {
    width: 39%;
    margin: 30px 30px 30px 0;
}

.l_top h3 {
    font-size: 29px;
}

.l_top h5 {
    font-size: 19px;
}

footer .l_top:nth-child(1) * {
    margin-bottom: 20px;
}

footer .right>div {
    margin: 30px 30px 30px 0;
}

footer .right:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

footer ul {
    padding: 30px 0 0 0;
}

footer ul>li {
    padding: 0 0 30px 0;
}

footer .right span {
    margin-bottom: 1.2em;
    font-size: 1.294em;
    line-height: 1.3em;
    font-weight: 600;
    margin-top: 0;
}

footer .right li {
    line-height: 1.2em;
    color: #9F9F9F;
}

footer .l_bottom {
    margin-top: 50px;
    letter-spacing: 1.1px;
    color: #9F9F9F;
}

footer .l_bottom span {
    color: #ff6600;
}

footer .icons div {
    margin-left: 5px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.fade1 {
    animation-name: fade;
    animation-duration: 0.9s;
}

.animate {
    animation-name: text;
    animation-duration: 1s;
}

@keyframes text {
    from {
        transform: scaleY(0.1);
        opacity: 0.2;
    }

    to {
        transform: scaleY(1);
        opacity: 1;
    }
}


/* main css */

.text_area {
    padding: 0% 5% 0% 12%;
    width: 100%;
    margin: auto;
    margin-top: 120px;
}

.text_area .card {
    width: 52%;
}

.text_area h2 {
    font-family: "Roboto", Sans-serif;
    font-weight: 600;
    font-size: 39px;
    text-align: center;
}

.text_area div:nth-child(1) {
    font-size: 14px;
    text-align: center;
}

.card .decor span {
    font-size: 60px;
    font-weight: 400;
}

.text_area p {
    text-align: justify;
    font-family: "Open Sans", Sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0px;
    word-spacing: 0.4em;
    margin: 30px 0;
    padding-top: 30px;
}

.review {
    width: 100%;
}

.review .space {
    height: 120px;
    width: 100%;
    background-color: #F2F6F7;
}

.re_main {
    text-align: center;
    padding: 60px 0 0 0;
}

.re_main h2 {
    font-size: 2.941em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.06em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1px;
    margin-top: 1.24em;
    margin-bottom: 0.46em;
}

.re_main .person_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-bottom: 120px;
    padding: 0;
    flex-wrap: wrap;
}

.re_main .person {
    width: 380px;
    height: 350px;
    background-color: #F2F6F7;
    padding: 0px 34px 34px 34px;
}

.re_main * {
    padding:0 10px 25px 10px;
}

.re_main .person h5{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2em;
    margin: 0;
}

.table {
    display: flex;
    flex-direction: column;
}

.table > div {
    display: flex;
}

.table > div > div {
    padding: 26px 10px;
    font-size: 19px;
    font-weight: 400;
}

.table > div:nth-child(odd) {
    background-color: #F2F6F7;
  }

.footer_bar {
    height: 120px;
    width: 100%;
    background-color: #F2F6F7;
}

.mark_academic div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .mark_academic div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
} */

.mark_card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mark_card_part {
    display: flex;
    width: 100%;
    text-align: center;
}

.mark_card_part div {
    flex: 1 1 0;
    border: 1px solid #9F9F9F;
    font-size: 2.541em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.06em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -1px;
    margin-top: 1.24em;
    margin-bottom: 0.46em;
}

.mark_academic > div:nth-child(1) > div {
    font-size: 2.353em;
    font-weight: 600;
    font-style: normal;
    line-height: 1.125em;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0px;
    margin-top: 1.3em;
    margin-bottom: 0.58em;
}

.main .container {
    max-width: 1200px;
    margin: auto;
}

.lesson_text h2 {
    font-size: 17px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.706em;
    text-transform: none;
    letter-spacing: 0px;
}

.lesson_text p {
    font-family: metropolis,sans-serif;
    font-size: 17px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.706em;
    text-transform: none;
    letter-spacing: 0.8px;
}

.lesson_text * {
    margin-bottom: 29px;
}

.lesson_text {
    padding-top: 30px;
}

.lesson_text li {
    list-style-type: disc;
}

.close {
    display: none;
    position: absolute;
    top:20px;
    right: 20px;
}

.close i {
    color: white;
}

@media (max-width : 1200px) {
    .contact_container {
        padding: 30px;
    }
    .container {
        padding: 30px;
    }
    .daha_container {
        padding: 30px;
    }
}

@media (max-width : 1100px) {
    .hi_imgs>div {
        width: 50%;
        height: 200px;
    }

    .hi_background {
        height: 600px;
    }

    .hi_image_area {
        height: 600px;
    }

    footer {
        padding: 30px;
        height: auto;
    }

    .li_right {
        width: 100%;
        text-align: center;
    }

    .ge_right {
        display: block;
    }

    header .menu {

    }

    .icons {
        display: none !important;
    }
}

@media (max-width : 900px) {
    header .menu {
        display: none;
    }

    .responsive ul {
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start !important;
        width: 100%;
        height: 100vh;
        background-color: #1F242E;
    }

    .responsive a {
        color: white;
    }

    .responsive .close {
        display: block !important;
    }

    .responsive {
        display: flex !important;
    }

    .icon {
        margin-left: 15px;
        display: block;
    }

    .libar .li_left {
        display: none;
    }

    .libar {
        justify-content: space-around;
    }

    .Gelecegi .container {
        justify-content: space-around;
    }

    .daha .img_area img {
        display: block;
        position: static;
        width: 80vw;
    }

    .daha img:nth-child(2) {
        display: none;
    }

    .daha .daha_container .daha_text {
        justify-content: center;
        align-items: center;
    }

    .daha .daha_container .img_area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .l_top {
        flex-direction: column;
    }

    .text_area .card {
        width: 100%;
    }

}

@media (max-width : 700px) {
    .hi_imgs>div {
        width: 100%;
        height: 200px;
    }

    .hi_background {
        height: 1000px;
    }

    .hi_imgs .text-area:hover a {
        margin-bottom: 0;
    }

    .hi_image_area {
        height: 1000px;
    }
    footer {
        padding: 0;
    }
    .l_top {
        align-items: start !;
    }
    .daha_text .con div {
        padding-right: 45px !important;
    }
    .arrow_left  {
        width: 50px;
        height: 50px;
        transform: translate(-94px, -65px);
    }
    .arrow_right {
        width: 50px;
        height: 50px;
        transform: translate(58px, -65px);
    }
    .mark_academic>div:nth-child(1) {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    input[type="button"] {
        padding: 20px;
    }
}
